@model $safeprojectname$.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="box">
    <div id="block-signup" class="block">
        <h2>
            Register</h2>
        <div class="content">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form" }))
            {
                <div class="flash">
                    <p>@Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.", new { @class = "message error" })</p>
                </div>
                <div class="group wat-cf">
                    <div class="left">
                        @Html.LabelFor(m => m.UserName, new { @class = "label" })
                    </div>
                    <div class="right">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "text_field" })
                        @Html.ValidationMessageFor(m => m.UserName)
                        <span class="description">Ex: Pete763</span>
                    </div>
                </div>
                <div class="group wat-cf">
                    <div class="left">
                        @Html.LabelFor(m => m.Email, new { @class = "label" })
                    </div>
                    <div class="right">
                        @Html.TextBoxFor(m => m.Email, new { @class = "text_field" })
                        @Html.ValidationMessageFor(m => m.Email)
                        <span class="description">Ex: you@youremail.com</span>
                    </div>
                </div>
                <div class="group wat-cf">
                    <div class="left">
                        @Html.LabelFor(m => m.Password, new { @class = "label" })
                    </div>
                    <div class="right">
                        @Html.PasswordFor(m => m.Password, new { @class = "text_field" })
                        @Html.ValidationMessageFor(m => m.Password)
                        <span class="description">Must be at least @Membership.MinRequiredPasswordLength characters
                            long.</span>
                    </div>
                </div>
                <div class="group wat-cf">
                    <div class="left">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })
                    </div>
                    <div class="right">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text_field" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        <span class="description">Confirm your password.</span>
                    </div>
                </div>
                <div class="group navform wat-cf">
                    <div class="right">
                        <button class="button" type="submit">
                            <img src="@Url.Content("~/images/icons/tick.png")" alt="Save" />
                            Register
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>